[client-server]
socket = /var/lib/mysql/mysql.sock
port = 3306

[mysqld]
bind-address        = 0.0.0.0
datadir             = /var/lib/mysql
default-storage-engine = InnoDB

innodb_buffer_pool_size = 64M
max_connections         = 100